
image.png

touched_image.JPG

hashtags.csv

response_data.txt

shrek_prompts.log

chosen_prompt.txt
*.env

*.png

*.log

*.mp4

!requirements.txt

*.mp3

generators/pokemon/assets/scrape/

generators/pokemon/assets/sound/scrape_music.ps1

*.jpg

*.ini

.SynologyWorkingDirectory/

*.MOV


*.xlsx
__pycache__/
